<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-parameter</string>
			<key>description</key>
			<string>unused parameter 'error_message'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a44dca046775d2f532b5cb2270703b1e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>98</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>20</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>98</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>20</integer>
					</dict>
					<key>message</key>
					<string>unused parameter 'error_message'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/runner/work/ottr/ottr/src/engine.cpp</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.26.2</string>
		</dict>
	</dict>
</dict>
</plist>
